---
---

@import 'bootstrap/bootstrap';
@import 'custom/_navbar';
@import 'custom/_card';


.no-select {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.footer h5 {
  font-size: 1.2rem;
}
.header-strip {
  min-height: 10rem; 
  padding-top: 5rem;
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  position: relative;
  border: 1px solid #dfdfdf;
  z-index: 1;
}
.header-strip h1 {
  font-size: 3.5em;
}
.header-strip p {
  font-size: 1.25em;
}
.jumbo .jumbotron ul li, .jumbo .jumbotron p , .jumbo .jumbotron a.btn{
  font-size: 1.25rem;
}
.jumbo .jumbotron {
  background: transparent !important;
  
}
.jumbo::before, .header-strip::before {
  content: "";
  background: url('{{site.baseurl}}/img/bg_s.png');
  background-size: cover;
  position: absolute;
  top: 0; 
  left: 0;
  width: 100vw; 
  height: 100%;  
  opacity: .2; 
  z-index: -1;
}

#topmenu {

}
.text-subheader {
  color: #CCA840 !important;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #CCA840 !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: $primary !important;
}
.navbar-light .navbar-nav .dropdown-menu {
  background-color: $gray-800;
}

.navbar-light .navbar-nav .dropdown-menu a.dropdown-item {
  color: $white;
}
.navbar-light .navbar-nav .dropdown-menu a.dropdown-item:hover {
  color: $primary;
}


.text-submuted
{
  color: #999999 !important;
}
@font-face {
  font-family: 'TechnikaBold';
  src: url('{{ site.baseurl }}/fonts/Technika-Bold.eot'); /* IE9 Compat Modes */
  src: url('{{ site.baseurl }}/fonts/Technika-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ site.baseurl }}/fonts/Technika-Bold.woff') format('woff'), /* Modern Browsers */
       url('{{ site.baseurl }}/fonts/Technika-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{{ site.baseurl }}/fonts/Technika-Bold.svg#Technika-Bold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Webfont: Technika-Book */@font-face {
  font-family: 'TechnikaBook';
  src: url('{{ site.baseurl }}/fonts/Technika-Book.eot'); /* IE9 Compat Modes */
  src: url('{{ site.baseurl }}/fonts/Technika-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ site.baseurl }}/fonts/Technika-Book.woff') format('woff'), /* Modern Browsers */
       url('{{ site.baseurl }}/fonts/Technika-Book.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{{ site.baseurl }}/fonts/Technika-Book.svg#Technika-Book') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Technika-Regular */@font-face {
  font-family: 'Technika';
  src: url('{{ site.baseurl }}/fonts/Technika-Regular.eot'); /* IE9 Compat Modes */
  src: url('{{ site.baseurl }}/fonts/Technika-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ site.baseurl }}/fonts/Technika-Regular.woff') format('woff'), /* Modern Browsers */
       url('{{ site.baseurl }}/fonts/Technika-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{{ site.baseurl }}/fonts/Technika-Regular.svg#Technika-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.display-1{
  font-waight: 600 !important;
  margin-top: 20px;
}

.footer{
  padding-top: 50px;
}