---
layout: default
header: Kontakt
---

<div class="row">
    <div class="col-6">
        <h3 class="text-subheader">Kontakty</h3>
        Email: iot@fel.cvut.cz<br/>
        Telefon: +420-22435-2232<br/>
    </div>
    <div class="col-6">
        <h3 class="text-subheader">Kde nás najdete?</h3>
        <p><i class="fas fa-map-marker-alt"></i> ČVUT FEL, Technická 2, 166 27 Praha 6</p>
        <iframe src="https://api.mapy.cz/frame?params=%7B%22x%22%3A14.392670631388995%2C%22y%22%3A50.102544759611874%2C%22base%22%3A%221%22%2C%22layers%22%3A%5B%5D%2C%22zoom%22%3A17%2C%22url%22%3A%22https%3A%2F%2Fen.mapy.cz%2Fs%2F35kdw%22%2C%22mark%22%3A%7B%22x%22%3A%2214.39279937742171%22%2C%22y%22%3A%2250.10248454520332%22%2C%22title%22%3A%2250.1024844N%2C%2014.3927994E%22%7D%2C%22overview%22%3Afalse%7D&amp;width=400&amp;height=280&amp;lang=en" width="400" height="280" style="border:none" frameBorder="0"></iframe>
    </div>
</div>
