--- 
layout: title 
---
<div class="jumbo">
    <div class="container text-center">
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-1 text-primary">IoT Workshop</h1>
    <p class="lead">Jsme IoT laboratoř zaměřená na tvorbu prototypů, řešení fakultních a průmyslových zakázek a mnoho dalšího.</p>
    <div class="row justify-content-center pb-4">
      <div class="col-lg-6 col-12">
        <ul class="text-left">
          <li>Podporujeme rozvoj studentů naší fakulty.</li>
          <li>Spojujeme znalosti elektrotechnologií, byznysu a IT.</li>
          <li>Realizuje jak fakultní tak i externí projekty.</li>
        </ul>
      </div>
    </div>
    <div>
      <a class="btn btn-primary mr-2" href="{{ site.baseurl }}/internship">Nabídka stáží</a>
      <a class="btn btn-primary" href="{{ site.baseurl }}/news">Novinky</a>
    </div>
  </div>
</div></div>