---
layout: default
header: Volné stážové pozice
---

<div class="card card-plus" style="width: 30rem">
    <div class="card-header text-center no-select" style="background: url('{{ site.baseurl }}/img/bg_circuits.jpg');background-size: 100%;">
        IoT Specialista
    </div>
    <div class="card-body no-select">
        <h5 class="card-subtitle mt-3">Náplň práce</h5>
        <p>Máme různorodé projekty od těžení a zpracovávání dat, přes implementaci komunikačních a webových rozhraní pro IoT zařízení, až po bastlení samotných IoT zařízení.</p>
        <p>U nás se rozhodně nudit nebudeš.</p>
        <h5 class="card-subtitle mt-4 mb-1">Co požadujeme</h5>
        <details open="">
            <summary>Dobrou znalost C++, Python či Java</summary>
            <div class="card p-2">Jazyky jsou základem společnosti a o těch programovacích to platí dvojnásob. Nemusíš být žádný přeborník na slovo vzatý, ale dobrá znalost aspoň jednoho jazyka z C++, Python a Java je velkou výhodou.</div>
        </details>
        <details>
            <summary>Základní znalost o sensorech a elektrotechnice</summary>
            <div class="card p-2">IoT je svět plný sensorů, drátů a chytrých zařízení. Měl by jsi se orientovat v základech o nich. Vědět co je to SPI, I2C, jak vypadá komunikace přes tato rozhraní a jak je využívat ve svém programu.</div>
        </details>
        <details>
            <summary>Student ČVUT</summary>
            <div class="card p-2">Jelikož budeš pracovat v budově ČVUT, občas řešit i interní projekty školy a výplatu budeš dostávat formou stipendia tak bohužel můžeme přijímat jen studenty ČVUT.</div>
        </details>
        <h5 class="card-subtitle mt-4 mb-1">Co nabízíme</h5>
        <details>
            <summary>Finanční ohodnocení</summary>
            <div class="card p-2">Vážíme si tvé práce a ohodnocujeme tě formou účelového stipendia.</div>
        </details>
        <details>
            <summary>Časová flexibilita dle tvého studia</summary>
            <div class="card p-2">Na prvním místě budeme mít tvoje studium. Nebudeme tě zatěžovat během zkouškového, či domlouvat schůzky/koordinačky během tvých přednášek/cvičeních.</div>
        </details>
        <details>
            <summary>Osobní rozvoj</summary>
            <div class="card p-2">Necháme tě vyzkoušet různé pozice a různé projekty, budeš moct sám zjistit jaký přístup a pozice ti vyhovují nejvíc.</div>
        </details>
        <details>
            <summary>Práce přímo v budově školy</summary>
            <div class="card p-2">Máš čas před školou, po škole, či mezi přednáškami? Nechceš ale desítky minut dojíždět do práce? Tak to jsi u nás správně, sídlíme přímo v budově školy v Dejvicích.</div>
        </details>
        <details>
            <summary>Perspektiva</summary>
            <div class="card p-2"></div>
        </details>
    </div>
    <div class="card-footer">
      Máte zájem? Kontaktujte Jiřího Fryče (<a href="mailto:frycjiri@fel.cvut.cz">frycjiri@fel.cvut.cz</a>)
    </div>
</div>