--- 
layout: default 
header: Naše laboratoř
subheader: Naší laboratoř najde ve druhém patře nad rektorátem. TODO
---
<h3 class="text-subheader">Fotografie z naší laboratoře</h3>
<div class="row">
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
        <div class="col-lg-2"><img src="https://via.placeholder.com/150x150" class="img-thumbnail"></div>
</div>