---
layout: default
header: Spolupráce
---

<div class="card-columns">
        <div class="card border-0">
          <img class="card-img-top" src="/img/logos/ibm.svg" alt="IBM logo">
        </div>
        <div class="card bg-primary p-2 border-0">
                <img class="card-img-top" src="/img/logos/czm.png" alt="Card image cap">
        </div>
      </div>
