---
layout: default
header: Náš tým
---
<h2 class="text-subheader text-center">Zaměstnanci</h3>
<div class="row">
{% for people in site.people %}
    {% if people.type contains "zamestnanec" %}
    {% include people.html %}
    {% endif %}
{% endfor %}    
</div>
<h2 class="text-subheader text-center">Stážisté</h3>
<div class="row">
{% for people in site.people %}
    {% if people.type contains "stazista" %}
    {% include people.html %}
    {% endif %}
{% endfor %}    
</div>