---
layout: default
header: Závěrečné práce
subheader: Proč volit téma závěrečné práce u nás?
---

<div class="text-center text-subheader mb-5">
<h2>Volná témata závěrečných prací</h2>
</div>
<div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="badge badge-primary">BP</span> OpenPeripherals - Interaktivní mapa pro zobrazování a správu senzorů
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div>Kontaktní osoba:</div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
