
.card-plus.card-has-avatar {
    position: relative;
    > .card-body {
        padding-top: 7em;
    }
    margin-top:5em;
    > .card-avatar {
        position: absolute;
        width: 10em;
        height: 10em;
        top: -4em;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        > img {
            max-width: 100%;
            max-height: 100%;
            height: 100%; width: 100%; object-fit: cover;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 50%;
        }
    }
}
.card-plus {
    border-color: $primary !important;
    > .card-body {
        padding-top:0px;
        font-size: 0.9em;
        > .card-at {
            margin-bottom: 1em;
        }
    }
    > .card-header {
    background-size: 100%;
    padding: 1em;
    font-size: 1.5em;
    color: #fdfdfd;
    font-weight: bold;
    > span {
        padding: 0.25em 0.5em;
        background: rgba(0,0,0,0.8);
    }
  }
}

footer {
    min-height: 10em;
    margin-top: 2em;
    padding-top: 1em;
    a {
        color: #f5f5f5 !important;
    }
}
.top-part {
    min-height: calc(100% - 10em);
}
html,body {
    height : 100%;
    margin:0; padding: 0;
}