.navbar .dropdown:hover >.dropdown-menu {
    display: block;
  }
.navbar .dropdown-menu {
    margin-top: 0px !important;
}
#topmenu hr {
    margin-top:0px;
}
#topmenu .navbar {
    padding-bottom: 0px;
}
#topmenu {
  background-color: white;
  border-bottom: 1px solid #dadada;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}