
<footer class="footer bg-secondary text-submuted">
        <div class="container">
          <div class="row">
            <div class="col-3">
            </div>
            <div class="col-3">
              <h5>KONTAKT</h5>
              <ul class="list-unstyled">
                <li><i class="far fa-envelope mr-2"></i> iot@fel.cvut.cz</li>
                <li><i class="fas fa-phone mr-2"></i> +420-22435-2232</li>
                <li><i class="fas fa-building mr-2"></i> T2:C2-85</li>
              </ul>
            </div>
            <div class="col-6">
              <h5>FAKULTNÍ SPOLUPRÁCE</h5>
              <ul>
                <li><a class="text-submuted" href="https://czm.fel.cvut.cz">Centrum znalostního managmentu</a></li>
                <li><a class="text-submuted" href="http://radio.feld.cvut.cz/">Katedra radioelektroniky</a></li>
                <li><a class="text-submuted" href="http://ek.fel.cvut.cz/">Program EK</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>


<!-- JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>