<div class="pb-5">
<div class="fixed-top" id="topmenu">
  <div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="{{ site.baseurl }}/"><img height="42px" src="{{ site.baseurl }}/img/logos/IoTWorkshopBig.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  {% include header_content.html %}
  </nav>
</div>
</div>
</div>