<div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="ml-auto navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if page.url == "/" %}active{% endif %}" href="{{ site.baseurl }}/">DOMŮ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == "/news/" %}active{% endif %}" href="{{ site.baseurl }}/news/">NOVINKY</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link {% if page.url == "/internship/" or page.url == "/theses/" %}active{% endif %} dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PRO STUDENTY
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ site.baseurl }}/internship/">Stáž</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/theses/">Závěrečné práce</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link {% if page.url contains "/projects/"  %}active{% endif %} dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SLUŽBY
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ site.baseurl }}/projects/middleschool/">Spolupráce se středními školami</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/projects/external/">Spolupráce s průmyslem</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/projects/faculty/">Fakultní projekty</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link {% if page.url == "/team/" or page.url == "/lab/" or page.url == "/partners/" or page.url == "/contact/"  %}active{% endif %}  dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              O NÁS
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ site.baseurl }}/team/">Náš tým</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/lab/">Naše laboratoř</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/partners/">Partneři</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/contact/">Kontakt</a>
            </div>
          </li>
        </ul>
      </div>