<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IoT Workshop</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  </head>