<div class="col-lg-4 col-md-6 col-12">
        <div class="card card-plus card-has-avatar">
        <div  class="card-avatar">
            <img src="{{ site.baseurl }}{{people.photo}}"/>
        </div>
            <div class="card-body">
                    <h4 class="text-center">{{people.name}}</h4>
                    <h5 class="text-muted text-center"><small>{{people.position}}</small></h5>
                    <table class="ml-auto mr-auto mt-3">
                        <tr>
                            <td class="pr-2 text-right"><i class="far fa-envelope"></i></td>
                            <td class="pl-2">{{people.email}}</td>
                        </tr>
                        {% if people.phone %}
                        <tr>
                            <td class="pr-2 text-right"><i class="fas fa-phone"></i></td>
                            <td class="pl-2">{{people.phone}}</td>
                        </tr>
                        {% endif %}
                        {% if people.room %}
                        <tr>
                                <td class="pr-2 text-right"><i class="fas fa-building"></i></td>
                                <td class="pl-2">{{people.room}}</td>
                        </tr>
                        {% endif %}
                        <colgroup>
                            <col style="width: 15em; border-right: 2px solid rgba(0, 0, 0, 0.125);"/>
                            <col style="width: 15em;"/>
                        </colgroup>
                    </table>
                    {{ people.content | markdownify }}
                </div>
            </div>
            </div>