<div class="card card-plus" style="width: 30rem">
    <div class="card-header text-center" style="background-image: url('{{ site.baseurl }}{{project.image}}')">
        <span>{{ project.name }}</span>
    </div>
    <div class="card-body">
        <div class="card-at text-right text-muted text-sm">
            <small>
                <i class="far fa-clock"></i> {{project.at}}</small>
        </div>
        {{ project.content | markdownify }}
    </div>
    <div class="card-footer text-muted">
        Odpovědná osoba: {{project.contact}}
    </div>
</div>