/* Webfont: Technika-BoldItalic */@font-face {
    font-family: 'Technika';
    src: url('Technika-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Technika-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Technika-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Technika-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Technika-BoldItalic.svg#Technika-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

