/* Webfont: Technika-LightItalic */@font-face {
    font-family: 'TechnikaLight';
    src: url('Technika-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('Technika-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Technika-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('Technika-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Technika-LightItalic.svg#Technika-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

