/* Webfont: Technika-BookItalic */@font-face {
    font-family: 'TechnikaBook';
    src: url('Technika-BookItalic.eot'); /* IE9 Compat Modes */
    src: url('Technika-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Technika-BookItalic.woff') format('woff'), /* Modern Browsers */
         url('Technika-BookItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Technika-BookItalic.svg#Technika-BookItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

