/* Webfont: Technika-Italic */@font-face {
    font-family: 'Technika';
    src: url('Technika-Italic.eot'); /* IE9 Compat Modes */
    src: url('Technika-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Technika-Italic.woff') format('woff'), /* Modern Browsers */
         url('Technika-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Technika-Italic.svg#Technika-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

