/* Webfont: Technika-Light */@font-face {
    font-family: 'TechnikaLight';
    src: url('Technika-Light.eot'); /* IE9 Compat Modes */
    src: url('Technika-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Technika-Light.woff') format('woff'), /* Modern Browsers */
         url('Technika-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Technika-Light.svg#Technika-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

