/* Webfont: Technika-Book */@font-face {
    font-family: 'TechnikaBook';
    src: url('Technika-Book.eot'); /* IE9 Compat Modes */
    src: url('Technika-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Technika-Book.woff') format('woff'), /* Modern Browsers */
         url('Technika-Book.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Technika-Book.svg#Technika-Book') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

