/* Webfont: Technika-Regular */@font-face {
    font-family: 'Technika';
    src: url('Technika-Regular.eot'); /* IE9 Compat Modes */
    src: url('Technika-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Technika-Regular.woff') format('woff'), /* Modern Browsers */
         url('Technika-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Technika-Regular.svg#Technika-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

