/* Webfont: TechnikaStencil-Bold */@font-face {
    font-family: 'TechnikaStencilBold';
    src: url('TechnikaStencil-Bold.eot'); /* IE9 Compat Modes */
    src: url('TechnikaStencil-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TechnikaStencil-Bold.woff') format('woff'), /* Modern Browsers */
         url('TechnikaStencil-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TechnikaStencil-Bold.svg#TechnikaStencil-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

