/* Webfont: Technika-Bold */@font-face {
    font-family: 'Technika';
    src: url('Technika-Bold.eot'); /* IE9 Compat Modes */
    src: url('Technika-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Technika-Bold.woff') format('woff'), /* Modern Browsers */
         url('Technika-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Technika-Bold.svg#Technika-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

