<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <div class="top-part">
    {% include header.html %}
    <div class="text-center header-strip">
      <div class="container">
    <h1 class="text-primary">{{ page.header }}</h2>
    <p>{{page.subheader}}</p>
    </div>
  </div>
    <div class="container">
        {{ content }}
    </div>
    </div>
    {% include footer.html %}
  </body>
</html>