<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="top-part">
        {% include header.html %}
        {{ content }}
  </div>
    {% include footer.html %}
  </body>
</html>